<div class="navbar bg-base-100 relative flex py-0">
  <div class="navbar-start flex-1">
    <ul class="menu menu-horizontal py-0 px-1">
      <li class="flex gap-2 flex-row disabled pl-3">{{ statusText() }}</li>
    </ul>
  </div>

  <app-button-update class="mx-1"></app-button-update>

  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 flex gap-2">
      @for (panel of panelConfigs; track $index) {
        <li class="action-button" appRequireSetup>
          <button
            class="btn btn-xs btn-secondary"
            [tp]="panel.name + ' [' + panel.hotkey + ']'"
            (click)="panel.clickCb()"
            [hotkeys]="panel.hotkey"
            (hotkey)="panel.clickCb()"
            isGlobal
            appSfx="ui-click"
            [sfxOffset]="$index"
            [sfxTrigger]="['click', 'hover']"
          >
            <app-icon [name]="panel.icon" size="2em" color="#000"></app-icon>
          </button>
        </li>
      }

      <li class="action-button" appRequireSetup>
        <button
          class="btn btn-xs btn-info"
          [tp]="isPaused() ? 'Resume Game [SPACE]' : 'Pause Game [SPACE]'"
          (click)="togglePause()"
          appSfx="ui-click"
          [sfxOffset]="panelConfigs.length + 2"
          [sfxTrigger]="['click', 'hover']"
          [hotkeys]="'SPACE'"
          (hotkey)="togglePause()"
          isGlobal
        >
          <app-icon
            [name]="isPaused() ? 'gamePlayButton' : 'gamePauseButton'"
            size="2em"
            color="#000"
          ></app-icon>
        </button>
      </li>

      <li class="action-button" appRequireNotSetup>
        <a
          class="btn btn-xs btn-warning"
          [swal]="leaveSwal"
          [tp]="'Go Back [Q]'"
          appSfx="ui-error"
          [sfxOffset]="panelConfigs.length + 1"
          [sfxTrigger]="['click', 'hover']"
          [hotkeys]="'q'"
          (hotkey)="leaveSwal.fire()"
          isGlobal
        >
          <app-icon name="gameExitDoor" size="2em" color="#000"></app-icon>
        </a>
      </li>

      <li class="action-button" appRequireSetup>
        <button
          class="btn btn-xs btn-accent"
          [tp]="'Open Menu [ESC]'"
          (click)="closeAllMenus()"
          appSfx="ui-click"
          [sfxOffset]="panelConfigs.length + 2"
          [sfxTrigger]="['click', 'hover']"
          [hotkeys]="'ESCAPE'"
          (hotkey)="closeAllMenus()"
          isGlobal
        >
          <app-icon
            [name]="'tablerSettings'"
            size="2em"
            color="#000"
          ></app-icon>
        </button>
      </li>
    </ul>
  </div>
</div>

<swal
  #leaveSwal
  title="Go back to main menu?"
  icon="question"
  confirmButtonText="Yes, go back"
  cancelButtonText="No, stay here"
  (confirm)="goToHome()"
></swal>

<app-modal [visible]="showPauseMenu()" [widthClass]="'max-w-[300px]'">
  <span title>Game Paused</span>

  <div body class="flex flex-col gap-2">
    <div class="py-2 mb-4 italic text-center">
      The game is currently paused.
    </div>

    <a
      class="btn btn-info"
      (click)="closePauseMenu()"
      appSfx="ui-click"
      [sfxOffset]="0"
      [sfxTrigger]="['click', 'hover']"
    >
      Resume
    </a>

    <app-button-settings></app-button-settings>

    <a
      class="btn btn-warning"
      [swal]="leaveSwal"
      appSfx="ui-error"
      [sfxOffset]="2"
      [sfxTrigger]="['click', 'hover']"
    >
      Quit to Main Menu
    </a>

    <app-button-quit></app-button-quit>
  </div>
</app-modal>
