<div class="flex flex-row gap-2">
  <div class="flex-1 flex flex-col">
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body">
        <div class="card-title">Console Options</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugConsoleLogStateUpdates') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:LogStateUpdates"
              (click)="
                setOption(
                  'debugConsoleLogStateUpdates',
                  !getOption('debugConsoleLogStateUpdates')
                )
              "
            />
            <span class="label-text">Log state updates</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugGameloopTimerUpdates') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:LogTimerUpdates"
              (click)="
                setOption(
                  'debugGameloopTimerUpdates',
                  !getOption('debugGameloopTimerUpdates')
                )
              "
            />
            <span class="label-text">Log long (>100ms) gameloop timers</span>
          </label>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 foreground shadow-xl mt-3">
      <div class="card-body">
        <div class="card-title">Game Options</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugAllowBackgroundOperations') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:AllowBackgroundOperations"
              (click)="
                setOption(
                  'debugAllowBackgroundOperations',
                  !getOption('debugAllowBackgroundOperations')
                )
              "
            />
            <span class="label-text">Allow Background Operations</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1">
    <div class="card bg-base-100 foreground shadow-xl mt-3">
      <div class="card-body">
        <div class="card-title">Timers</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <span class="label-text !ml-0 mr-2">Tick Multiplier</span>
            <input
              #tickMultiplier
              type="range"
              [min]="1"
              [max]="100"
              [value]="getOption('debugTickMultiplier')"
              (change)="
                setOption('debugTickMultiplier', tickMultiplier.valueAsNumber)
              "
              class="range range-secondary"
            />
            <span class="ml-2">{{ getOption('debugTickMultiplier') }}x</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <span class="label-text !ml-0 mr-2">Save Interval</span>
            <input
              #saveInterval
              type="range"
              [min]="1"
              [max]="60"
              [value]="getOption('debugSaveInterval')"
              (change)="
                setOption('debugSaveInterval', saveInterval.valueAsNumber)
              "
              class="range range-secondary"
            />
            <span class="ml-2">{{ getOption('debugSaveInterval') }}s</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1"></div>
</div>
