@let isInReplacementMode = fullContainer.children.length !== 0;

<dialog #modal class="modal" [open]="visible()">
  <div
    class="modal-box p-0"
    [ngClass]="[widthClass()]"
    [class.bg-transparent]="isInReplacementMode"
    [class.shadow-none]="isInReplacementMode"
  >
    <div #fullContainer>
      <ng-content select="[replacement]"></ng-content>
    </div>

    <div
      class="card bg-base-100 shadow-xl page-card mx-auto"
      [class.hidden]="isInReplacementMode"
    >
      <div class="card-body">
        <div class="card-title flex justify-center relative">
          <ng-content select="[title]"></ng-content>

          @if (showCloseButton()) {
            <app-button-close
              class="absolute top-[-4px] right-2"
              (click)="closeModal()"
            ></app-button-close>
          }
        </div>

        <div class="my-2">
          <ng-content select="[body]"></ng-content>
        </div>

        <div class="card-actions justify-end">
          <ng-content select="[actions]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</dialog>
