<div class="flex flex-row gap-2">
  <div class="flex-1">
    <div class="card bg-base-100 foreground shadow-xl mt-3">
      <div class="card-body">
        <div class="card-title">Gameplay</div>

        Come back soon!
      </div>
    </div>

    <div class="flex-1">
      <div class="card bg-base-100 foreground shadow-xl mt-3">
        <div class="card-body">
          <div class="card-title">Audio</div>

          <div class="form-control">
            <label class="label cursor-pointer label-checkbox">
              <input
                type="checkbox"
                [checked]="getOption('bgmPlay')"
                class="checkbox checkbox-secondary"
                (click)="setOption('bgmPlay', !getOption('bgmPlay'))"
              />
              <span class="label-text">Play Background Music</span>
            </label>
          </div>

          @if (getOption('bgmPlay')) {
            <div class="form-control">
              <label class="label cursor-pointer label-checkbox">
                <span class="label-text !ml-0 mr-2">
                  Background Music Volume
                </span>
                <input
                  #bgmVolume
                  type="range"
                  [min]="0"
                  [max]="1"
                  [step]="0.05"
                  [value]="getOption('bgmVolume')"
                  (change)="setOption('bgmVolume', bgmVolume.valueAsNumber)"
                  class="range range-secondary"
                />
                <span class="ml-2">
                  {{ getOption('bgmVolume') * 100 | number: '1.0-0' }}%
                </span>
              </label>
            </div>
          }

          <div class="form-control">
            <label class="label cursor-pointer label-checkbox">
              <input
                type="checkbox"
                [checked]="getOption('sfxPlay')"
                class="checkbox checkbox-secondary"
                (click)="setOption('sfxPlay', !getOption('sfxPlay'))"
              />
              <span class="label-text">Play Sound Effects</span>
            </label>
          </div>

          @if (getOption('sfxPlay')) {
            <div class="form-control">
              <label class="label cursor-pointer label-checkbox">
                <span class="label-text !ml-0 mr-2">Sound Effects Volume</span>
                <input
                  #sfxVolume
                  type="range"
                  [min]="0"
                  [max]="1"
                  [step]="0.05"
                  [value]="getOption('sfxVolume')"
                  (change)="setOption('sfxVolume', sfxVolume.valueAsNumber)"
                  class="range range-secondary"
                />
                <span class="ml-2">
                  {{ getOption('sfxVolume') * 100 | number: '1.0-0' }}%
                </span>
              </label>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="flex-1 flex flex-col">
      <div class="card bg-base-100 foreground shadow-xl mt-3">
        <div class="card-body">
          <div class="card-title">UI Theme</div>

          <label class="label mb-3 whitespace-normal">
            Change the visuals of the game. Not every theme is tested equally,
            please report issues with specific themes.
          </label>

          <select
            class="select select-bordered select-xs mx-1"
            [(ngModel)]="currentTheme"
            (ngModelChange)="setOption('uiTheme', $event)"
          >
            @for (theme of themes; track $index) {
              <option [value]="theme.name">
                {{ theme.name | titlecase }} ({{ theme.type }})
              </option>
            }
          </select>
        </div>
      </div>

      <div class="card bg-base-100 foreground shadow-xl mt-3">
        <div class="card-body">
          <div class="card-title">Notifications</div>

          Come back soon!
        </div>
      </div>
    </div>
  </div>
</div>
