<div class="flex justify-center items-center h-full p-2 flex-col gap-2">
  <div class="w-full lg:max-w-[800px]">
    <div class="card bg-base-100">
      <div class="card-body items-center justify-between">
        <div class="card-title text-center flex flex-col">Generating World</div>
        <div class="card-actions pt-3 flex flex-row gap-2">
          @if (worldGenStatus(); as status) {
            <div class="flex flex-row justify-center gap-2 flex-wrap">
              {{ status }}
            </div>
          } @else {
            <span class="loading loading-spinner loading-sm"></span>
          }
        </div>
      </div>
    </div>
  </div>
</div>
