.animated-sprite {
  width: 64px;
  height: 64px;

  contain: layout paint;
  will-change: background-position;
  animation: bouncy-sprite calc(1ms * var(--frame-duration))
    steps(var(--frames)) infinite;

  @keyframes bouncy-sprite {
    from {
      background-position: 0px calc(-64px * var(--position));
    }
    to {
      background-position: calc(-64px * var(--frames))
        calc(-64px * var(--position));
    }
  }
}
